# Problem solving and Programming
## Day No : 10
## Date      : 8-May-2019
## Name    : Pranathi

### Day Objectives
* Taking input from users
* Dictionaries
* Lists

### Problem 1:
#### Problem Statement 
#### Constraints
#### Test Cases
* Test case 1
* Test case 2
* Test Case 3

In [2]:
print("test")

test

## Assignment Variables

In [3]:
(t1,t2)=(31,41) #Assiogning variables within 1 statment
t1

31

In [4]:
t2

41

In [5]:
t1=t2=31 # Assigning 2 variables same number
t1

31

In [6]:
t2

31

In [7]:
t1

31

## Tuples

In [10]:
t1=(123,"pranathi",23.6," ")
t1                                 #Accessing tuples

(123, 'pranathi', 23.6, ' ')

In [9]:
t1[3]                           #Accessing tuples through index

' '

In [11]:
t1

(123, 'pranathi', 23.6, ' ')

In [13]:
t1[0]+t1[2]

146.6

In [14]:
t1[1:3]

('pranathi', 23.6)

In [16]:
t2=(123,345,567)
str(t2[0])[1]+str(t2[1])[1]+str(t2[2])[1]

'246'

In [18]:
str(t2[0])[2::-1]+' '+str(t2[1])[2::-1]+' '+str(t2[2])[2::-1]

'321 543 765'

## Counting of no of digits

In [10]:
var1=123
var2=var1**var1
var3=var1*var2
var3

14068047255957914382285276313052152039784823649577578262434220931441449088637028262932607908919789686866946891510867347608477213179479592198152966967557329977088235627821878159926917661532159727960288136918852811987748679976142348281084855973394309047163229841

In [11]:
var1

123

In [12]:
var2

114374367934617190099880295228066276746218078451850229775887975052369504785666896446606568365201542169649974727730628842345343196581134895919942820874449837212099476648958359023796078549041949007807220625356526926729664064846685758382803707100766740220839267

In [13]:
print(len(str(var3)))        #length of the printed string using "length operator"

260

## DataType

In [14]:
type(var1)                    # Knowing the datatype of a variable

int

## String Slicing

In [43]:
str1 = "python Programming"          #Assigning a string to str

In [44]:
str1[0]                             # Accessing the 1st character

'p'

In [45]:
str1[len(str1)-1]                   # ACCESSING LAST CHARACTER

'g'

In [46]:
str1[0:6]                            #Accessing the String upto 7th Character

'python'

In [47]:
str1[len(str1)-1::-1]                #Accessing in reverse order

'gnimmargorP nohtyp'

In [48]:
str1[0:len(str1)-1:2]                #Accessing the str alternatively

'pto rgamn'

In [50]:
str1[5::-2]                           #Accessing "python" in reverse order

'nhy'

In [51]:
str1[7:]*10                            #Accessing from 7th character 10 times

'ProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgramming'

## Lists

In [60]:
li=[123,345,"python"]               #Declaration of Lists

In [55]:
li                                  # Printing the list objects

[123, 345, 'python']

In [56]:
len(li)                             # Defining the length of list using "LENGTH"

3

In [62]:
li.append("programming")
li                                  #appending the elements using "APPEND FUNCTION"

[123, 345, 'python', 'programming', 'programming']

In [64]:
li.pop()                            #Removing the last element using "pop operation"
li

[123, 345, 'python', 'programming']

In [70]:
li.pop(2)                   
li                                   #poping elements through "POP OPERATION WITH INDEX"

[123, 'Programming']

In [67]:
li[len(li)-1]="Programming"
li                                  #ADDING AN ELEMENT INTO LIST BY ASSIGNING

[123, 345, 'Programming']

In [68]:
li.append("python")         
li

[123, 345, 'Programming', 'python']

In [69]:
li.remove(345)                        # Removes objectrs by giving values into "REMOVE FUNCTION"
li

[123, 'Programming', 'python']

In [71]:
li.insert(1,345)
li                                     # adding an element into list using "INSERT OPERATION"

[123, 345, 'Programming']

## Matrices in lists(MULTI DIMENSIONAL)

In [3]:
list=[[1,2,3],[4,5,6],[7,8,9]]         #Declaration of Multi Dimensional in List

In [77]:
list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [78]:
list.insert(3,[10,11,12])
list                                        #Adding an row using "Insert Operation"

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [79]:
list.pop(3)                          #Deleting the element using pop and respective index

[10, 11, 12]

In [5]:

list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
for i in range(0,len(list)):
    for j in range (0,len(list[i])):
        print(list[i][j], end=' ')

1 2 3 4 5 6 7 8 9

### Taking input from users

In [21]:
str1=input("enter a string")
str1

enter a stringpython

'python'

### Dictionaries

In [22]:
d1={'Procedural':'c','Scripting':'Python','Fuctional':'Haskbell','Logical':'Perl'}
d1

{'Procedural': 'c',
 'Scripting': 'Python',
 'Fuctional': 'Haskbell',
 'Logical': 'Perl'}

In [23]:
d1.values()

dict_values(['c', 'Python', 'Haskbell', 'Perl'])

In [24]:
d1.keys()

dict_keys(['Procedural', 'Scripting', 'Fuctional', 'Logical'])

In [25]:
d2={'Symbolic':'Mathematica','Symbolic':'Prolog'}
d1.update(d2)
d1

{'Procedural': 'c',
 'Scripting': 'Python',
 'Fuctional': 'Haskbell',
 'Logical': 'Perl',
 'Symbolic': 'Prolog'}

In [26]:
d1['ObjectOriented']='Java'
d1

{'Procedural': 'c',
 'Scripting': 'Python',
 'Fuctional': 'Haskbell',
 'Logical': 'Perl',
 'Symbolic': 'Prolog',
 'ObjectOriented': 'Java'}

In [27]:
d1['Logical']

'Perl'

### Lists

In [28]:
li2=[[1,2,3],[4,5,6],[7,8,9]]
li2.extend([765,432,99])
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 765, 432, 99]

In [29]:
li1=[765,432,12]
li1

[765, 432, 12]

In [30]:
li1.sort()
li1

[12, 432, 765]